[submodule "src/fost-web"]
	path = src/fost-web
	url = git@github.com:KayEss/fost-web.git
[submodule "src/fost-beanbag"]
	path = src/fost-beanbag
	url = git@github.com:KayEss/fost-beanbag.git
[submodule "src/Boost"]
	path = src/Boost
	url = git@github.com:KayEss/fost-boost.git
[submodule "src/crypto++"]
	path = src/crypto++
	url = git@github.com:KayEss/fost-crypto.git
[submodule "src/OpenSSL"]
	path = src/OpenSSL
	url = git@github.com:KayEss/fost-openssl.git
