
ul.letter li { display:inline; margin-right: 1em; }
li.choice-true { font-weight: bold; color: blue; }
p.error { color: red; }
.tla, .tla-true, .searchmatch { color: blue; }

#footer {
    text-align: center;
    font-size: small;
}
