<doctype html>
<html ng-app>
  <head>
    <title>GTF</title>
    <script src="http://docs-next.angularjs.org/angular-1.0.0rc1.min.js"></script>
    <script>
        function controller($scope, $http) {
            $scope.letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            $scope.letter1 = 'G';
            $scope.letter2 = 'T';
            $scope.letter3 = 'F';

            $scope.choose = function(n, c) { $scope['letter' + n] = c; }

            $scope.old_tla = null;
            $scope.tla = function() {
                var new_tla = $scope.letter1 + $scope.letter2 + $scope.letter3;
                if ( new_tla != $scope.old_tla ) {
                    $scope.old_tla = new_tla;
                    $http.get('/'+ new_tla).
                        success(function(data) {
                            $scope.definitions = data;
                        }).
                        error(function() {
                            $scope.definitions = [];
                            $scope.wikipedia = null;
                            $http.jsonp('http://en.wikipedia.org/w/api.php?' +
                                    'format=json&action=query&list=search&' +
                                    'srsearch=' + new_tla + '&callback=JSON_CALLBACK').
                                success(function(data) {
                                    $scope.wikipedia = data;
                                }).
                                error(function() {
                                    $scope.wikipedia = {error:{info:"Could not contact Wikipedia"}};
                                });
                        });
                }
                return new_tla;
            }
        }
    </script>
    <style>
        ul.letter li { display:inline; margin-right: 1em; }
        li.choice-true { font-weight: bold; color: blue; }
        p.error { color: red; }
        .tla, .tla-true, .searchmatch { color: blue; }
    </style>
  </head>
  <body ng-controller="controller">
    <h1>GTF &mdash; <span class="tla">{{ tla() }}</span></h1>
    <ul class="letter">
        <li ng-repeat="letter in letters" class="choice-{{$parent.letter1==letters[$index]}}"
            ng-click="$parent.choose(1, letters[$index])">{{letters[$index]}}</li>
    </ul>
    <ul class="letter">
        <li ng-repeat="letter in letters" class="choice-{{$parent.letter2==letters[$index]}}"
            ng-click="$parent.choose(2, letters[$index])">{{letters[$index]}}</li>
    </ul>
    <ul class="letter">
        <li ng-repeat="letter in letters" class="choice-{{$parent.letter3==letters[$index]}}"
            ng-click="$parent.choose(3, letters[$index])">{{letters[$index]}}</li>
    </ul>
    <ul ng-show="definitions.length">
        <li ng-repeat="def in definitions" class="tla-{{def=='GPL\'ed TLA FAQ'}}">{{def}}</li>
    </ul>
    <div ng-show="!definitions.length">
        <p class="error">No acronym found for {{ tla() }}.</p>
        <p ng-show="wikipedia.query.searchinfo.totalhits">
            Found {{wikipedia.query.searchinfo.totalhits}} matches on Wikipedia.</p>
        <p ng-show="wikipedia.error" class="error">
            The Wikipedia search failed &mdash; {{wikipedia.error.info}}</p>
        <ul ng-show="wikipedia">
            <li ng-repeat="entry in wikipedia.query.search">
                <p>{{entry.title}}</p>
                <p ng-bind-html="entry.snippet"></p>
            </li>
        </ul>
    </div>
  </body>
</html>
