
body {
    margin: 1em;
    font-family: sans-serif;
}
code {
    font-family: monospace;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

.crumbs {
    font-size: small;
    margin-bottom: 0.6em;
}


h1 {
    font-size: 1.5em;
    padding: 3px 1px;
    margin-bottom: 0.6em;
}
.title input {
    font-size: 1.5em;
    padding-bottom: 1px;
    width: 50%;
}


.tabs li {
    background: #eee;
    display: inline;
    margin-right: 1.2em;
    padding: 0 1em;
}
.tabs li.show-show, .tabs li.edit-edit {
    background: #cee;
}


div.content {
    padding: 1em 0;
}
.content h1 {
    font-size: 1.5em;
    padding-bottom: 1em;
    padding-top: 1.2em;
}
.content h2 {
    padding-top: 0.8em;
    font-size: 1.2em;
    font-weight: bold;
}
.content h3 {
    padding-top: 0.4em;
    font-size: 0.8em;
    font-weight: bold;
}
.content textarea {
    display: block;
    width: 100%; height: 300px;
}
.content p {
    padding-bottom: 0.7em;
    line-height: 1.4em;
}
.content ul {
    margin-left: 1em;
    list-style-position: outside;
    list-style-type: disc;
}
.content ol {
    margin-left: 1.4em;
    list-style-position: outside;
}
.content li {
    margin-bottom: 0.7em;
    line-height: 1.4em;
}
.content pre {
    white-space: pre;
    line-height: 1.4em;
    background: #eee;
    padding: 0.3em;
    font-family: monospace;
    margin-bottom: 0.7em;
}
.content pre code {
    white-space: pre;
}

.footer {
    font-size: small;
}
.footer dd {
    margin-left: 1em;
}
