
body {
    margin: 1em;
    font-family: sans-serif;
}


.crumbs {
    font-size: small;
    margin-bottom: 0.6em;
}


h1 {
    font-size: 1.5em;
    padding: 3px 1px;
}
.title input {
    font-size: 1.5em;
    padding-bottom: 1px;
}


.tabs li {
    background: #eee;
    display: inline;
    margin-right: 3em;
    padding: 0 1em;
}
.tabs li.show-show, .tabs li.edit-edit {
    background: #cee;
}


div.content {
    padding: 1em 0;
}
.content textarea {
    display: block;
    width: 100%; height: 100px;
}
.content p {
    padding-bottom: 0.4em;
}


.footer {
    font-size: small;
}
.footer dd {
    margin-left: 1em;
}
